.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#map {
  height: 100vh;
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}